.container {
    width: 640px;
    margin: auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.container button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.index {
    margin: auto;
    font-size: 18px;
}
.container .correct {
    background: #dffff2;
    border-color: #056e51;
}
.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}
